<html>
<head>
	<title>Housing</title>
	<style type="text/css">
	.listing{
		max-width: 800px;
	}
	.controls{

	}
	.select{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.select span{
		margin: 5px;
		background: aquamarine;
		padding: 5px;
		display: block;
		float: left;
		cursor: pointer;
	}
	.selected{
		background-color: aqua !important;/*fix this*/
	}
	</style>
	<meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>
	<div class="controls">
		<h2>Limit by:</h2>
		<div>Zones:</div>
		<div id="zones" class="select">
			<span id="algonquin">Algonquin</span>
			<span id="alta-vista">Alta Vista</span>
			<span id="aylmer">Aylmer</span>
			<span id="barrhaven">Barrhaven</span>
			<span id="bells-corner">Bell’s Corner</span>
			<span id="billings-bridge">Billing’s Bridge</span>
			<span id="britannia">Britannia</span>
			<span id="byward-market">Byward Market</span>
			<span id="carlingwood">Carlingwood</span>
			<span id="central-west">Central West</span>
			<span id="centretown">Centretown</span>
			<span id="china-town">China Town</span>
			<span id="civic">Civic</span>
			<span id="dows-lake">Dow's Lake</span>
			<span id="downtown">Downtown</span>
			<span id="experimental-farm">Experimental Farm</span>
			<span id="gatineau-hull">Gatineau/Hull</span>
			<span id="glebe">Glebe</span>
			<span id="gloucester">Gloucester</span>
			<span id="herongate">Herongate</span>
			<span id="hogs-back">Hog’s Back</span>
			<span id="hull">Hull</span>
			<span id="hunt-club">Hunt Club</span>
			<span id="kanata">Kanata</span>
			<span id="little-italy">Little Italy</span>
			<span id="lowertown">Lowertown</span>
			<span id="main">Main</span>
			<span id="mooneys-bay">Mooney’s Bay</span>
			<span id="navan">Navan</span>
			<span id="nepean">Nepean</span>
			<span id="nepean-south">Nepean South</span>
			<span id="old-ottawa-east">Old Ottawa East</span>
			<span id="old-ottawa-south">Old Ottawa South</span>
			<span id="orleans">Orleans</span>
			<span id="ottawa-east">Ottawa East</span>
			<span id="ottawa-south">Ottawa South</span>
			<span id="ottawa-west">Ottawa West</span>
			<span id="parkwood-hills">Parkwood Hills</span>
			<span id="pinecrest">Pinecrest</span>
			<span id="rockcliffe">Rockcliffe</span>
			<span id="sandy-hill">Sandy Hill</span>
			<span id="south-keys">South Keys</span>
			<span id="vanier">Vanier</span>
			<span id="westboro">Westboro</span>
			<span id="other">Other</span>
		</div>
		<div>Price: <input id="price" type="text" placeholder="Price <=" /></div>
		<div>Type:</div>
		<div id="type" class="select">
			<span id="apartments">Apartments</span>
			<span id="rooms">Rooms</span>
			<span id="shared apartments">Shared Apartments</span>
			<span id="shared-townhouses-houses">Shared Townhouses / Houses</span>
			<span id="townhouses-houses">Townhouses / Houses</span>
		</div>
		<div>Furnished:</div>
		<div id="furnished" class="select">
			<span id="true">True</span>
			<span id="false">False</span>
			<span id="allf">All</span>
		</div>
		<div><button id="limit">Limit!</button></div>
	</div>
	<div class="listing">
		<% for posting in listing %>
			<%= posting["rawhtml"] %>
		<% end %>
	</div>
	<!--<script type="text/javascript" src="/sapphire.js"></script>-->
	<script type="text/javascript" src="/ajax.js"></script>
	<script type="text/javascript" src="/app.js"></script>
</body>
</html>